<template name="addCourseForm">
	{{#if currentUser}}
		<form name="createCourse" id="createCourse">
			<h3>Create Course</h3>
			<div class="ui form segment">
				<div class="main course required fields">
					<div class="field">
					  <label>Name</label>
					  <input placeholder="Computer Science 1" type="text">
					</div>
					<div class="field">
					  <label>Number</label>
					  <input placeholder="COP3502C" type="text">
					</div>
					<div class="field">
					  <label>Year</label>
					  <input placeholder="2015" type="text">
					</div>
				</div>
				<div class="two fields">
					<div class="grouped inline fields">
					<label>Semester</label>
						<div class="field">
						  <div class="ui radio checkbox">
						    <input type="radio" name="fruit">
						    <label>Fall</label>
						  </div>
						</div>
						<div class="field">
						  <div class="ui radio checkbox">
						    <input type="radio" name="fruit">
						    <label>Spring</label>
						  </div>
						</div>
						<div class="field">
						  <div class="ui radio checkbox">
						    <input type="radio" name="fruit">
						    <label>Summer</label>
						  </div>
						</div>
					</div>
					<div class="field">
						<label>Description</label>
						<textarea></textarea>
					</div>
				</div>
			</div>
			<div class="ui submit button">Submit</div>

		<div>

			<label for="courseNameField">Name:</label>
			<input type="text" name="courseNameField">
			<br/>
			<label for="courseNumberField">Number:</label>
			<input type="text" name="courseNumberField">
			<br/>
			<label for="courseYearField">Year:</label>	
			<input type="text" name="courseYearField">
			<br/>
			<label for="courseSemesterField">Semester:</label>
			<input type="radio" id="courseSemesterFieldFall" name="courseSemesterField" value="Fall"/>Fall
			<input type="radio" id="courseSemesterFieldSpring" name="courseSemesterField" value="Spring"/>Spring
			<input type="radio" id="courseSemesterFieldSummer" name="courseSemesterField" value="Summer"/>Summer
			<br/>
			<input type="submit" value="Add Course">
		</div>
		</form>
	{{/if}}
</template>