<template name="AGSCreateUser">
		<div id="signUpForm">
			<form method="post" id="createUser" class="createUser">
				<fieldset>
					
					<label for="firstNameField">First Name:</label>
					<input type="text" id="firstNameField" name="firstNameField" />
					
					
					<label for="lastNameField">Last Name:</label>
					<input type="text" id="lastNameField" name="lastNameField"  />
					<br>

					<label for="majorField">Major:</label>
					<input type="text" id="majorField" name="majorField"/>
					<br>
					<br>
					<label for="userCourse">Select Courses:</label>
					<br>

					<table>
					{{#each addIndex courseList}}
						<tr>
							<td>{{index}}</td>
							<td><input type="checkbox" name="userCourse" value="{{value._id}}"/></td>
							<td>{{value.number}}: {{value.name}}</td>
							<br>
						</tr>
					{{/each}}
					</table>

					<br/>

					<input type="submit" value="Sign Up" />
					<label id="errorMsg" name="errorMsg"></label>
				</fieldset>


			</form>
		</div>
</template>