<template name="AGSCreateUser">
		<div id="signUpForm">
			<form method="post" >
				<fieldset>
					
					<label for="firstNameField">First Name:</label>
					<input type="text" id="firstNameField" name="firstNameField" />
					
					
					<label for="lastNameField">Last Name:</label>
					<input type="text" id="lastNameField" name="lastNameField"  />
					<br>

					<label for="majorField">Major:</label>
					<input type="text" id="majorField" name="majorField"/>
					<br>
					<br>
					<label for="userCourse">Select Courses:</label>
					<br>

					{{#each courseList}}
							<input type="checkbox" id="userCourse" name="userCourse" value="{{_id}}"/>{{number}}: {{name}}<br>
					{{/each}}

					<br/>

					<input type="submit" onClick="" value="Sign Up" />
					<label id="errorMsg" name="errorMsg"></label>
				</fieldset>


			</form>
		</div>
</template>