<template name="mainContent">
	<div class="ags-main-content-info">
		{{#if unfinishedAccount}}
			<div class="ui dividing header">
			  <i class="user icon"></i>
			  <div class="content">
			    Finish Creating Your Account
			  </div>
			</div>
			<p>Enter your first and last name. <br>Sign up for a course by entering the course key provided by the instructor.</p>
		{{else}}
			{{#if isUserDash}}
				{{#with userInfo}}
					<div class="ui dividing header">
					  <i class="user icon"></i>
					  <div class="content">
					    User Dashboard
					    <div class="sub header">{{firstname}} {{lastname}}
					    </div>
					  </div>
					</div>
				{{/with}}
			{{/if}}

			{{#if isCourseDash}}
				{{#with courseInfo}}
					<div class="ui dividing header">
					  <i class="users icon"></i>
					  <div class="content">
					    Course Dashboard
					    <div class="sub header">{{number}}: {{name}}</div>
					  </div>
					</div>	
				{{/with}}
			{{/if}}

			{{#if isAssignmentDash}}
				{{#with assignmentInfo}}
					<div class="ui dividing header">
						<i class="book icon"></i>
						<div class="content">
							Assignment Dashboard
						    <div class="sub header">{{name}}: {{description}}
							</div>
				  		</div>
					</div>
					Date Available: {{dateAvailable}}<br> Date Due:{{dateDue}}
				{{/with}}

			{{/if}}

			{{#if isSubmissionDash}}
				{{#with submissionInfo}}
					<div class="ui dividing header">
						<i class="file text icon"></i>
						<div class="content">
							Submission Dashboard
						    <div class="sub header">{{name}}: {{dateCreated}}
							</div>
				  		</div>
					</div>
					Finish adding files and submit!
				{{/with}}
			{{/if}}
			
			{{#if isUserCreator}}
			<div class="popup tips">
				<div class="ui icon button">
					<i class="edit icon"></i>
				</div>
				<div class="ui small popup">
					Edit
				</div>
				<div class="ui icon button">
					<i class="delete icon"></i>
				</div>
				<div class="ui small popup">
					Remove
				</div>
			</div>
			{{/if}}

		{{/if}}
	</div>
	<div class="ags-main-content-view">
		{{#if unfinishedAccount}}
				{{> AGSCreateUser}}
		{{else}}

			{{#if isUserDash}}

				{{#with userInfo}}
					<h3>{{firstname}}'s Courses</h3>
					<div class="ui cards">
						{{#each studentCourseList}}
						<div class="card" id="userCourse">
						    <div class="content">
						      <div class="header">{{number}}</div>
						      <div class="description">
						        {{name}}
						      </div>
						    </div>
						    <div class="ui bottom attached button">
						      <i class="book icon"></i>
						      View Assignments
						    </div>
						  </div>
						  {{/each}}
					 </div>
<!-- 					<ul>
						{{#each studentCourseList}}
							<li class="userCourse"><a>{{number}}: {{name}}</a></li>
						{{/each}}
					</ul> -->


					<h3>{{firstname}}'s Created Courses</h3>

<!-- 					<ul>
						{{#each instructorCourseList}}
							<li class="userCourse"><a>{{number}}: {{name}}</a></li>
						{{/each}}
					</ul> -->
					<div class="ui cards">
						{{#each instructorCourseList}}
						<div class="card" id="userCourse">
						    <div class="content">
						      <div class="header">{{number}}</div>
						      <div class="description">
						        {{name}}
						      </div>
						    </div>
						    <div class="ui bottom attached button">
						      <i class="book icon"></i>
						      View Assignments
						    </div>
						  </div>
						  {{/each}}
					 </div>


				{{/with}}

				{{> addCourseForm}}

			
				
			{{/if}}

			{{#if isCourseDash}}
				<h3>Course Assignments</h3>
<!-- 				<ul>
					{{#each courseAssignmentList}}
						<li class="courseAssignment"><a>{{name}}: {{dateDue}}</a></li>
					{{/each}}
				</ul> -->
				<div class="ui cards">
						{{#each courseAssignmentList}}
						<div class="card" id="courseAssignment">
						    <div class="content">
						      <div class="header">{{name}}</div>
						      <div class="description">
						        {{description}}<br/>
						        Due: {{dateDue}}
						      </div>
						    </div>
						    <div class="ui bottom attached button">
						      <i class="file text outline icon"></i>
						      View Submissions
						    </div>
						  </div>
						  {{/each}}
					 </div>
				{{#if isUserCreator}}
					{{> addAssignmentForm}}
				{{/if}}

			{{/if}}

			{{#if isAssignmentDash}}
				{{#with userInfo}}
					<h3>{{firstname}}'s Submissions</h3>
				{{/with}}
<!-- 				<ul>
					{{#each studentSubmissionList}}
						{{#each AttemptList}}
							<li class="assignmentSubmission"><a>{{name}}: {{dateCreated}}</a></li>
						{{/each}}
					{{/each}}
				</ul> -->
				<div class="ui cards">
					{{#each studentSubmissionList}}
						{{#each AttemptList}}	
						<div class="card" id="assignmentSubmission">
						    <div class="content">
						      <div class="header">{{name}}</div>
						      <div class="description">
						        {{description}}<br/>
						        Created: {{dateCreated}}
						      </div>
						    </div>
						    <div class="ui bottom attached button">
						      <i class="file text outline icon"></i>
						      Edit Submission
						    </div>
						  </div>
						  {{/each}}
					 {{/each}}
				 </div>
				<button type="button" id="newSubmission" >New Submission</button>

				{{#if isUserCreator}}

					<h3>Student Submissions</h3>
					<ul>
						{{#each instructorSubmissionList}}

							{{#each AttemptList}}
							<li class="assignmentSubmission"><a>{{name}}: {{dateCreated}}</a></li>
							{{/each}}
						{{/each}}
					</ul>
					<h3>Assignment Files</h3>
					{{#with assignmentInfo}}
					
					<h3>VTA</h3>
					{{vta.name}}<br>
					<code>{{vta.contents}}</code>
					
					<h3>Solution</h3>
					{{solution.name}}<br>
					<code>{{solution.contents}}</code>
					
					<h3>Inputs</h3>
						{{#each inputs}}
							{{name}}<br>
							<code>{{contents}}</code>
							<br>
						{{/each}}

					{{/with}}

					<button type="button" id="write" >Write</button>
				{{/if}}
			{{/if}}


		{{/if}}

		{{#if isSubmissionDash}}
			{{#if fileNotSubmitted}}
				{{> submissionFilesForm}}
			{{else}}
				<h3>Submission</h3>
				<label for="submissionFilenameText">Your Solution File:</label>
				<span name="submissionFilenameText">{{submissionFilename}}</span>
				<h3>Feedback</h3>
				{{#if fileNotGraded}}
					<button type="button" id="gradeSubmission" >Get Feedback</button>
				{{else}}
					{{feedbackStatus}}
					{{{submissionFeedback}}}
				{{/if}}
			{{/if}}
		{{/if}}


	</div>

</template>