<template name="mainContent">
	<div class="ags-main-content-info">
		{{#if unfinishedAccount}}
			<h2>Finish Creating Your Account</h2>
		{{else}}
			{{#if isUserDash}}
				
				{{#with userInfo}}
					User: {{firstname}} {{lastname}}
				{{/with}}

			{{/if}}

			{{#if isCourseDash}}

				{{#with courseInfo}}
					Course: {{name}} {{number}}
				{{/with}}

			{{/if}}
		{{/if}}
	</div>
	<div class="ags-main-content-view">
		{{#if unfinishedAccount}}
				{{> AGSCreateUser}}
		{{else}}

			{{#if isUserDash}}
				<h2>Your courses</h2>
				<ul>
					{{#each userCourseList}}
						<li class="userCourse"><a>{{number}}: {{name}}</a></li>
					{{/each}}
				</ul>
				{{> addCourseForm}}
				
			{{/if}}

			{{#if isCourseDash}}
				<h2>Course assignments</h2>
				<ul>
					{{#each courseAssignmentList}}
						<li class="courseAssignment"><a>{{name}}: {{dateDue}}</a></li>
					{{/each}}
				</ul>
				{{> addAssignmentForm}}
				

			{{/if}}
		{{/if}}


	</div>

</template>