<template name="mainNav">
	<div class="ags-nav-entry">
		{{#with userInfo}}
			<h3>{{firstname}}'s Courses</h3>

			<ul>
				{{#each studentCourseList}}
					<li class="userCourse"><a>{{number}}: {{name}}</a></li>
				{{/each}}
			</ul>

			{{#if instructorCourseList}}
				<h3>{{firstname}}'s Created Courses</h3>

				<ul>
					{{#each instructorCourseList}}
						<li class="userCourse"><a>{{number}}: {{name}}</a></li>
					{{/each}}
				</ul>
			{{/if}}
		{{/with}}

		<button type="button" id="gradeTest" >Grade Test!</button>

	</div>
</template>