.ags-shell-head, .ags-shell-head-logo, .ags-shell-head-acct,
      .ags-shell-head-search, .ags-shell-main, .ags-shell-main-nav,
      .ags-shell-main-content, .ags-shell-foot, .ags-shell-chat,
      .ags-shell-main-heading, .ags-shell-main-view  {
        position : absolute;
      }
      
      .ags-shell-head-acct,
      .ags-shell-head-search, .ags-shell-main, .ags-shell-main-nav,
      .ags-shell-main-content, .ags-shell-foot, .ags-shell-chat,
      .ags-shell-main-heading, .ags-shell-main-view  {
        padding: 10px;
        font-family: Arial;
      }

      .ags-shell-head {
        top    : 0;
        left   : 0;
        right  : 0;
        height : 40px;
      }
      .ags-shell-head-logo {
        top        : 4px;
        left       : 4px;
        height     : 32px;
        width      : 32px;
        background : orange;
      }
      .ags-shell-head-logo-title {
        top : 0px;
        line-height: 32px;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
      .ags-shell-head-acct {
        top        : 4px;
        right      : 0;
        width      : 64px;
        height     : 32px;
        background : lightblue;
      }
      .ags-shell-head-search {
        top        : 4px;
        right      : 64px;
        width      : 248px;
        height     : 32px;
        background : red;
      }

      .ags-shell-main {
        top    : 40px;
        left   : 0;
        bottom : 40px;
        right  : 0;
      }
      .ags-shell-main-content,
      .ags-shell-main-nav {
        top    : 0;
        bottom : 0;
      }
      .ags-shell-main-nav {
        width  : 250px;
        background : #eee;
      }
        .ags-x-closed .ags-shell-main-nav {
          width  : 0;
        }

      .ags-shell-main-content {
        left  : 250px;
        right : 0;
        background : #ddd;
      }
        .ags-x-closed .ags-shell-main-content {
          left : 0;
        }

      .ags-shell-foot {
        bottom : 0;
        left   : 0;
        right  : 0;
        height : 40px;
      }
      .ags-shell-chat {
        bottom     : 0;
        right      : 0;
        width      : 300px;
        height     : 15px;
        background : red;
        z-index    : 2;
      }
      .ags-shell-main-heading {
        top           : 50px;
        left          : 75px;
        width         : 1000px;
        height        : 100px;
        background    : #fff;
        border-radius : 3px;
      }
      .ags-shell-main-view {
        top           : 200px;
        left          : 75px;
        width         : 1000px;
        height        : 450px;
        background    : #fff;
        border-radius : 3px;
      }
      .ags-shell-nav-entry, {
        padding: 10px;
        font-family: Arial;
      }

      a:link, a:visited, a:hover, a:active {
        text-decoration: none;
      }