<template name="breadCrumb">
	<div class="ui steps">
		{{#if isUserDash}}
			{{#with userInfo}}
			<a class="active step" id="breadUser">
				<div class="content">
	  				<div class="title">User</div>
	  				<div class="description">{{firstname}}</div>
				</div>
	  		</a>
  			{{/with}}
		{{/if}}
		{{#if isCourseDash}}
			{{#with userInfo}}
			<a class="step" id="breadUser">
				<div class="content">
	  				<div class="title">User</div>
	  				<div class="description">{{firstname}}</div>
				</div>
	  		</a>
  			{{/with}}
			{{#with courseInfo}}
			<a class="active step" id="breadCourse">
				<div class="content">
	  				<div class="title">Course</div>
	  				<div class="description">{{number}}</div>
				</div>
	  		</a>
  			{{/with}}
		{{/if}}
		{{#if isAssignmentDash}}
			{{#with userInfo}}
			<a class="step" id="breadUser">
				<div class="content">
	  				<div class="title">User</div>
	  				<div class="description">{{firstname}}</div>
				</div>
	  		</a>
  			{{/with}}
			{{#with courseInfo}}
			<a class="step" id="breadCourse">
				<div class="content">
	  				<div class="title">Course</div>
	  				<div class="description">{{number}}</div>
				</div>
	  		</a>
  			{{/with}}
			{{#with assignmentInfo}}
			<a class="active step" id="breadAss">
				<div class="content">
	  				<div class="title">Assignment</div>
	  				<div class="description">{{name}}</div>
				</div>
	  		</a>
  			{{/with}}
		{{/if}}
		{{#if isSubmissionDash}}
			{{#with userInfo}}
			<a class="step" id="breadUser">
				<div class="content">
	  				<div class="title">User</div>
	  				<div class="description">{{firstname}}</div>
				</div>
	  		</a>
  			{{/with}}
			{{#with courseInfo}}
			<a class="step" id="breadCourse">
				<div class="content">
	  				<div class="title">Course</div>
	  				<div class="description">{{number}}</div>
				</div>
	  		</a>
  			{{/with}}
			{{#with assignmentInfo}}
			<a class="step" id="breadAss">
				<div class="content">
	  				<div class="title">Assignment</div>
	  				<div class="description">{{name}}</div>
				</div>
	  		</a>
  			{{/with}}
			{{#with submissionInfo}}
			<a class="active step" id="breadSub">
				<div class="content">
	  				<div class="title">Submission</div>
	  				<div class="description">{{name}}</div>
				</div>
	  		</a>
  			{{/with}}
		{{/if}}
	</div>	
</template>