<template name="addAssignmentForm">
	{{#if currentUser}}
			<div class="ui form">
				{{#if isAssignmentDash}}
					{{#with assignmentInfo}}
					<div class="two required fields">
						<div class="field">
							<label>Name</label>
							<input id="assignmentNameField" type="text" value={{name}}>
						</div>
						<div class="field">
							<label>Language</label>
							<select id="assignmentLanguageField" class="ui dropdown">
								 <option value="">Language</option>
								 <option value="C">C</option>
	    						 <option value="Java">Java</option>
	    						 <option value="Python">Python</option>
							</select>
							<script type="text/javascript">$('select.dropdown').dropdown('set selected','{{language}}');</script>
						</div>
					</div>
					<div class="two required fields">
						<div class="field">
							<label>Date Available</label>
							<input id="assignmentDateDueField" type="date" value={{dateAvailable}}>
						</div>
						<div class="field">
							<label>Date Due</label>
							<input id="assignmentDateAvailableField" type="date" value={{dateDue}}>
						</div>
					</div>
					<div class="two fields">
						<div class="required field">
							<label>Max Time</label>
							<input id="assignmentTimeField" type="text" value={{time}}>
						</div>
						<div class="field">
							<label>Max Points</label>
							<input id="assignmentPointsField" type="text" value={{points}}>
						</div>
					</div>
					<div class="fluid field">
						<label>Description</label>
						<textarea id="assignmentDescriptionField" >{{description}}</textarea>
					</div>
					<div class="fluid field">
						<div class="ui icon message">
						  <i class="file icon"></i>
						  <div class="content">
						    <div class="header">
						      Unable to update Assignment files after creation
						    </div>
						    <p>To update files of an Assignment a new Assignment must be created with the updated file contents.</p>
						  </div>
						</div>
					</div>
					{{/with}}
				{{else}}
				<div class="two required fields">
						<div class="field">
							<label>Name</label>
							<input id="assignmentNameField" type="text">
						</div>
						<div class="field">
							<label>Language</label>
							<select id="assignmentLanguageField" class="ui dropdown">
								 <option value="">Language</option>
								 <option value="C">C</option>
	    						 <option value="Java">Java</option>
	    						 <option value="Python">Python</option>
							</select>
							<script type="text/javascript">$('select.dropdown').dropdown();</script>
						</div>
					</div>
					<div class="two required fields">
						<div class="field">
							<label>Date Available</label>
							<input id="assignmentDateDueField" type="date">
						</div>
						<div class="field">
							<label>Date Due</label>
							<input id="assignmentDateAvailableField" type="date">
						</div>
					</div>
					<div class="two fields">
						<div class="required field">
							<label>Max Time</label>
							<input id="assignmentTimeField" type="text">
						</div>
						<div class="field">
							<label>Max Points</label>
							<input id="assignmentPointsField" type="text">
						</div>
					</div>
					<div class="fluid field">
						<label>Description</label>
						<textarea id="assignmentDescriptionField" ></textarea>
					</div>
					<div class="two required fields">	
						<div class="field">
							<label>Auto-Grader File</label>
							<div class="ui action input">
								<input id="agFileNameField" type="text" value="No file chosen">
							    <label for="assignmentAGField" class="ui icon button">
							        <i class="file icon"></i>
							        Choose File(s)</label>
							    <input type="file" id="assignmentAGField" style="display:none">
							</div>
						</div>
						<div class="field">
							<label>Student File(s)</label>
							<div class="ui action input">
								<input id="studentFileNameField" type="text" value="No file chosen">
							    <label for="assignmentStudentField" class="ui icon button">
							        <i class="file icon"></i>
							        Choose File(s)</label>
							    <input type="file" id="assignmentStudentField" style="display:none" multiple>
							</div>
						</div>
					</div>
					<div class="required field">
						<label>Input File(s)</label>
						<div class="ui action input">
							<input id="inputFileNameField" type="text" value="No file chosen">
							<label for="assignmentInputField" class="ui icon button">
								<i class="file icon"></i>
								Choose File(s)</label>
							<input type="file" id="assignmentInputField" style="display:none">
						</div>
					</div>
					{{/if}}
					<div id="assignmentErrorMessage" class="ui error message">
				    	<div class="header">Error</div>
				  	</div>
				  	<script>$('#assignmentErrorMessage').hide();</script>
			</div>

	{{/if}}
</template>