<template name="agsLogin">
	{{#if currentUser}}
	<div class="ui loading segment" style="width: 100%; height: 100%;">
	</div>
	{{else}}
	<div class="ags-login" align="center">
		<img class="ui medium centered image" src="images/headlogo2.png">
		<div class="ui left icon input">
			<i class="at icon"></i>
			<input id="signinEmailField" placeholder="Email" type="text">
		</div>
		<br>
		<div class="ui left icon input">
			  <i class="lock icon"></i>
			  <input id="signinPasswordField" placeholder="Password" type="password">
		</div>
		 <div class="ui error message">
		    <div class="header">Error</div>
		</div>
		<div class="buttons" align="center">
			<div class="ui button sign in">Sign in</div>
			<div class="ui button create account">Create account</div>
		</div>
	</div>
	{{/if}}
</template>

