<template name="mainContent">
	<div id="editModal" class="ui fullscreen modal">
		<div class="header">
      		Edit Settings
		</div>
		<div class="content">
			{{#if isUserDash}}
				{{> AGSCreateUser}}
			{{/if}}
			{{#if isCourseDash}}
				{{> addCourseForm}}
			{{/if}}
			{{#if isAssignmentDash}}
				{{> addAssignmentForm}}
			{{/if}}
		</div>
		<div class="actions">
		      <div id="cancelButton" class="ui deny button">Cancel</div>
		      <div id="updateButton" class="ui green approve button">Update</div>
    	</div>
	</div>
	<script>$('.ui.fullscreen.modal').modal();
	</script>
	<div id="deleteModal" class="ui small modal">

			{{#if isUserDash}}
				{{> AGSCreateUser}}
				<div class="header">
      				Delete User
				</div>
				<div class="content">
					Are you sure you want to delete your AGS account?
				</div>
			{{/if}}
			{{#if isCourseDash}}
				<div class="header">
      				Delete Course
				</div>
				<div class="content">
					Are you sure you want to delete this Course?
				</div>
			{{/if}}
			{{#if isAssignmentDash}}
				<div class="header">
      				Delete Assignment
				</div>
				<div class="content">
					Are you sure you want to delete this Assignment?
				</div>
			{{/if}}
		<div class="actions">
		      <div class="ui red deny button">No</div>
		      <div class="ui green approve button">Yes</div>
    	</div>
	</div>
	<script>$('.ui.small.modal').modal();</script>
	<div id="viewFilesModal" class="ui fullscreen modal files">
		<i class="close icon"></i>
		{{#if isAssignmentDash}}
		 {{#with assignmentInfo}}
		 	{{#each studentfiles}}
			<div class="header">
	      		{{name}}
			</div>
			<div class="content">
				<pre>{{contents}}</pre>
			</div>
			{{/each}}
		{{/with}}
		{{/if}}
		{{#if isSubmissionDash}}
			{{#with manGradedRow}}
				<div class="header">{{description}}</div>
				<div class="content"> 
				  <div class="ui grid">
					<div class="two column row">

					  <div class="column">
						<div class="ui fluid label" style="text-align:center;">Points Earned</div>
						<div class="ui fluid right labeled input">
						  <input id="pointsEarnedInput" type="text">
						  <div class="ui label">/ {{pointsPossible}} Points</div>
						</div>
					  </div>

					  <div class="column">
						<div class="ui fluid input">
						  <div class="ui fluid label" style="text-align:center;">Comments</div>
						  <input id="commentsInput" type="text" value={{comments}}>
						</div>
					  </div>

					</div>
				  </div>
				</div>   
			 {{/with}}
			 <div id="manGradedRowActions" class="actions" style="display:none;">
				<div class="ui deny button">Cancel</div>
				<div class="ui green approve button">Update</div>
			</div>
			 {{#with submissionInfo}}
			 	{{#each files}}
				<div class="header">
		      		{{name}}
				</div>
				<div class="content">
					<pre>{{contents}}</pre>
				</div>
				{{/each}}
			{{/with}}
		{{/if}}
	</div>
	<script>$('.ui.fullscreen.modal.files').modal();</script>
	<div class="ags-main-content-info">
		<div class="ui yellow segment">
		{{#if unfinishedAccount}}
			<div class="ui dividing header">
			  <i class="user icon"></i>
			  <div class="content">
			    Finish Creating Your Account
			  </div>
			</div>
			<p>Enter your first and last name.</p>
		{{else}}
			{{#if isUserDash}}
				{{#with userInfo}}
					<div class="ui dividing header">
					  <i class="user icon"></i>
					  <div class="content">
					    {{firstname}} {{lastname}}
					  </div>
					</div>
				{{/with}}
				<div class="dashboard popup tips">
					<div class="ui icon edit button">
						<i class="edit icon"></i>
					</div>
					<div class="ui small popup">
						Edit Account
					</div>
				</div>	
			{{/if}}

			{{#if isCourseDash}}
				{{#with courseInfo}}
					{{#if isUserCreator}}
					<div class="ui dividing header">
					  <i class="users icon"></i>
					  <div class="content">
					    {{number}}: {{name}}
					    <div class="sub header">{{semester}} {{year}}<br>Key: {{key}}</div>
					  </div>
					</div>
					<div class="dashboard popup tips">
						<div class="ui icon edit button">
							<i class="edit icon"></i>
						</div>
						<div class="ui small popup">
							Edit Course
						</div>
						<div class="ui icon delete button">
							<i class="delete icon"></i>
						</div>
						<div class="ui small popup">
							Remove Course
						</div>
					</div>	
					{{else}}
					<div class="ui dividing header">
					  <i class="users icon"></i>
					  <div class="content">
					    {{number}}: {{name}}
					    <div class="sub header">{{semester}} {{year}}</div>
					  </div>
					</div>
					{{/if}}
				{{/with}}
			{{/if}}

			{{#if isAssignmentDash}}
				{{#with assignmentInfo}}
					<div class="ui dividing header">
						<i class="file text icon"></i>
						<div class="content">
							{{name}}
						    <div class="sub header">{{description}}<br>Available: {{dateAvailable}} | Due: {{dateDue}}
							</div>
				  		</div>
					</div>
				{{/with}}
				{{#if isUserCreator}}
				<div class="dashboard popup tips">
					<div class="ui icon edit button">
						<i class="edit icon"></i>
					</div>
					<div class="ui small popup">
						Edit Assignment
					</div>
					<div class="ui icon delete button">
						<i class="delete icon"></i>
					</div>
					<div class="ui small popup">
						Remove Assignment
					</div>
				</div>
				{{/if}}

			{{/if}}

			{{#if isSubmissionDash}}
				{{#with submissionInfo}}
					<div class="ui dividing header">
						<i class="code icon"></i>
						<div class="content">
							{{#if isUserCreator}}{{name}}{{else}}{{name}}: {{studentName}}{{/if}}
						    <div class="sub header">Created: {{dateCreated}}
							</div>
				  		</div>
					</div>
					Finish adding files and submit!
				{{/with}}
			{{/if}}

		{{/if}}
	</div>
	</div>
	<div class="ags-main-content-view">
		<div class="ui segment">
		{{#if unfinishedAccount}}
			<div id="signUpForm">
				<form method="post" id="createUser" class="createUser">
				{{> AGSCreateUser}}
				<input type="submit" id="userSignUpButton" class="ui submit button" value="Sign Up">
				</form>
			</div>
		{{else}}

			{{#if isUserDash}}

				{{#with userInfo}}
					<h3>{{firstname}}'s Courses</h3>
					<div class="ui inverted cards">
						{{#each studentCourseList}}
						<div class="card" id="userCourse">
						    <div class="content">
						      <div class="header">{{number}}</div>
						      <div class="description">
						        {{name}}<br>
						        {{semester}} {{year}}
						      </div>
						    </div>
						    <div class="ui bottom attached button">
						      <i class="users icon"></i>
						      View Course
						    </div>
						  </div>
						  {{/each}}
					 </div>
<!-- 					<ul>
						{{#each studentCourseList}}
							<li class="userCourse"><a>{{number}}: {{name}}</a></li>
						{{/each}}
					</ul> -->
					<div class="ui form segment">
					<div class="field">
						<label>Course Key</label>
						<div class="ui action input">
						  <input id="courseKeyField" type="text" placeholder="1234567890aBcdEFg">
						  <div class="ui teal enroll button">Enroll</div>
						</div>
					</div>
					<div class="ui message enroll"></div>
					<script>$('.ui.message.enroll').hide();</script>
				</div>

					<h3>{{firstname}}'s Created Courses</h3>

<!-- 					<ul>
						{{#each instructorCourseList}}
							<li class="userCourse"><a>{{number}}: {{name}}</a></li>
						{{/each}}
					</ul> -->
					<div class="ui cards">
						{{#each instructorCourseList}}
						<div class="card" id="userCourse">
						    <div class="content">
						      <div class="header">{{number}}</div>
						      <div class="description">
						        {{name}}
						      </div>
						    </div>
						    <div class="ui bottom attached button">
						      <i class="users icon"></i>
						      View Course
						    </div>
						  </div>
						  {{/each}}
					 </div>


				{{/with}}


				<div class="ui hidden divider"></div>
				<div id="courseAccordion" class="ui styled fluid accordion">
					<div id="createCourseTitle" class="active title">
						<i class="add icon"></i>
							Create Course
					</div>
					<div class="active content">
						<form name="createCourse" id="createCourse">
							{{> addCourseForm}}
							<div class="ui hidden divider"></div>
							<input type="submit" class="ui submit button" value="Create">
						</form>
					</div>
				</div>
				<script>$('.ui.styled.fluid.accordion').accordion('close',0);</script>
			
				
			{{/if}}

			{{#if isCourseDash}}
				<h3>Course Assignments</h3>
<!-- 				<ul>
					{{#each courseAssignmentList}}
						<li class="courseAssignment"><a>{{name}}: {{dateDue}}</a></li>
					{{/each}}
				</ul> -->
				<div class="ui cards">
						{{#each courseAssignmentList}}
						<div class="card" id="courseAssignment">
						    <div class="content">
						      <div class="header">{{name}}</div>
						      <div class="description">
						        {{description}}<br/>
						        Due: {{dateDue}}
						      </div>
						    </div>
						    <div class="ui bottom attached button">
						      <i class="file text icon"></i>
						      View Assignment
						    </div>
						  </div>
						  {{/each}}
					 </div>
				{{#if isUserCreator}}

				<div class="ui hidden divider"></div>	
				<div id="assignmentAccordion" class="ui styled fluid accordion">
					<div id="createAssignmentTitle" class="active title">
						<i class="add icon"></i>
							Create Assignment
					</div>
					<div class="active content">
						<form name="createAssignment" id="createAssignment" enctype="multipart/form-data">
							{{> addAssignmentForm}}
							<div class="ui hidden divider"></div>
							<input type="submit" class="ui submit assignment button" value="Add Assignment">
						</form>
					</div>
				</div>
				<script>$('.ui.styled.fluid.accordion').accordion('close',0);</script>
				{{/if}}

			{{/if}}

			{{#if isAssignmentDash}}
				<div class="ui form segment">
					<div id="viewFilesButton" class="ui view files button">View Files</div>
				</div>
				{{#with userInfo}}
					<h3>{{firstname}}'s Submissions</h3>
				{{/with}}
<!-- 				<ul>
					{{#each studentSubmissionList}}
						{{#each AttemptList}}
							<li class="assignmentSubmission"><a>{{name}}: {{dateCreated}}</a></li>
						{{/each}}
					{{/each}}
				</ul> -->
				<div class="ui cards">
					{{#each studentSubmissionList}}
						{{#each AttemptList}}	
						<div class="card" id="assignmentSubmission">
						    <div class="content">
						      <div class="header">{{name}}</div>
						      <div class="description">
						        <br/>
						        Created: {{dateCreated}}
						      </div>
						    </div>
						    <div class="ui bottom attached button">
						      <i class="code icon"></i>
						      View Submission
						    </div>
						  </div>
						  {{/each}}
					 {{/each}}
				 </div>
				 <div class="ui hidden divider"></div>
				<div class="ui button" id="newSubmission" >New Submission</div>

				{{#if isUserCreator}}

				<h3>Student Submissions</h3>
					<div class="ui cards">
						{{#each instructorSubmissionList}}
						{{#each AttemptList}}	
						<div class="card" id="assignmentSubmission">
						    <div class="content">
						      <div class="header">{{name}}</div>
						      <div class="description">
						        {{studentName}}<br/>
						        Created: {{dateCreated}}
						      </div>
						    </div>
						    <div class="ui bottom attached button">
						      <i class="code icon"></i>
						      View Submission
						    </div>
						  </div>
						  {{/each}}
						{{/each}}
					</div>
<!-- 					<h3>Assignment Files</h3>
					{{#with assignmentInfo}}
					
					<h3>VTA</h3>
					{{vta.name}}<br>
					<code>{{vta.contents}}</code>
					
					<h3>Solution</h3>
					{{solution.name}}<br>
					<code>{{solution.contents}}</code>
					
					<h3>Inputs</h3>
						{{#each inputs}}
							{{name}}<br>
							<code>{{contents}}</code>
							<br>
						{{/each}}

					{{/with}} -->

<!-- 					<button type="button" id="write" >Write</button> -->

				{{/if}}
			{{/if}}


		{{/if}}

		{{#if isSubmissionDash}}
			{{#if fileNotSubmitted}}
				{{> submissionFilesForm}}
			{{else}}
				<h3>Submission</h3>
				<div class="ui form segment">
					<div class="field">
						<label>Your Solution</label>
						<div class="ui action input">
							<input id="subFileNameField" type="text" value={{#each submissionFiles}}{{name}} {{/each}}>
						    <label id="viewFilesButton" for="submissionSolutionFile" class="ui icon button">
						        <i class="file icon"></i>
						        View File(s)</label>
						</div>
					</div>
				</div>
				<h3>Feedback</h3>
				{{#if fileNotGraded}}
					<button type="button" id="gradeSubmission" >Get Feedback</button>
				{{else}}
					{{feedbackStatus}}
					{{{submissionFeedback}}}
					<br>
					{{{submissionFeedbackObject}}}
				{{/if}}
			{{/if}}
		{{/if}}
</div>
	</div>
</template>