<template name="submissionFilesForm">
	{{#if currentUser}}
	
		<form name="submissionFilesForm" id="submissionFilesForm" method="post" enctype="multipart/form-data">
			<h3>Submission</h3>
			<div class="ui form segment">
				<div class="field">
					<label>Your Solution</label>
					<div class="ui action input">
						<input id="subFileNameField" type="text" value="No file chosen">
					    <label for="submissionSolutionFile" class="ui icon button">
					        <i class="file icon"></i>
					        Choose File(s)</label>
					    <input type="file" id="submissionSolutionFile" style="display:none" multiple>
					</div>
				</div>
			</div>

<!--			<label for="submissionInputField">Input File(s):</label>
			<input type="file" name="submissionInputField" multiple>
			<br>
-->	
			<input type="submit" class="ui submit button" value="Check Submission Files">

			<div id="submissionErrorMessage" class="ui error message">
				  <div class="header">Error</div>
			</div>
			<script>$('#submissionErrorMessage').hide();</script>
		</form>
		
	{{/if}}
</template>