<template name="agsHead">
	<div class="ags-head">
		<div class="ags-head-logo">
			<img class="ui middle aligned image" src="images/headlogo2.png">
		</div>
		<div class="ags-head-breadcrumb">
			{{> breadCrumb}}
		</div>
		<div class="ags-head-acct">
			{{#with userEmail}}
			<div class="ui head segment">
				<div class="account popup tips" align="center">
					<div class="ui account label">{{address}}</div>
					<div class="ui icon sign out button">
						<i class="sign out icon"></i>
					</div>
					<div class="ui small popup">
						Sign out
					</div>
					<div class="ui icon settings button">
						<i class="settings icon"></i>
					</div>
					<div class="ui small popup">
						Settings
					</div>
				</div>
			</div>
			{{/with}}	
		</div>
	</div>
</template>