.ags-login {
	background-color: white;
	position: fixed;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 10%;
}

.ags-head, .ags-head-logo, .ags-head-acct,
.ags-main, .ags-main-nav, .ags-main-content, 
.ags-main-content-info, .ags-main-content-view,
.ags-head-breadcrumb {
	position : absolute;
}


.ags-head-search, .ags-main, .ags-main-nav,
.ags-main-content,
.ags-main-content-info, .ags-main-content-view{
	padding: 10px;
	font-family: Arial;
}

.ags-head {
	top: 0;
	left : 0;
	right: 0;
	height : 74px;
}

.ags-head-logo {
	top: 10px;
	left : 10px;
	height : 64px;
	width: 64px;
	background : #D1D1D1;
}

.ags-head-acct {
	top: 10px;
	right: 10px;
	width: auto;
}

.ags-main {
	top: 80px;
	left : 0;
	bottom : 40px;
	right: 0;
	height: 200%;
}

.ags-main-content,
.ags-main-nav {
	top: 0;
	bottom : 0;
}

.ags-main-nav {
	width: 150px;
	background : #eee;
}

.ags-x-closed .ags-main-nav {
		width: 0;
}

.ags-main-content {
	left: 10px;
	right : 10px;
	background : #ddd;
}

.ags-x-closed .ags-main-content {
		left : 0;
}

.ags-head-breadcrumb {
	left : 80px;
	top: 10px;
	font-family: Arial;
}

.ags-head-breadcrumb > a{
	color: blue;
	text-decoration: underline;
}

.ags-main-content-info {
	top : 10px;
	width: auto;
	position: relative;
	border-radius : 3px;
}

.ags-main-content-view {
	top : 10px;
	width: auto;
	position: relative;
	border-radius : 3px;
}

.ags-main-content-view > ul{
	color: blue;
	text-decoration: underline;
	list-style: none outside none;
}

.ags-nav-entry, {
	font-family: Arial;
}

.ags-nav-entry > ul{
	color: blue;
	text-decoration: underline;
	list-style: none outside none;
	padding:5px 0px;
}

.ags-nav-entry > ul > li{
	padding-bottom: 3px;
}

a:link, a:visited, a:active {
	text-decoration: none;
}

.ui.steps{
	line-height: 19px !important;
}